body {
  font-family: 'Courier New', monospace;
  // font-family: 'Helvetica Neue', monospace;
  background-color: #d4d0b0; /* #f6f1ea is off-white */
}

.avatar img {
  width: 30rem;
  height: 30rem;
  border-radius: 0;

  @media only screen and (max-width: 768px) {
    width: 25rem;
    height: 25rem;
    }
}

/* create "negative margin" below third-level headers */
h1 {
  font-family: 'Helvetica Neue', monospace;
  color: maroon;
}

h2 {
  font-family: 'Helvetica Neue', monospace;
  color: maroon;
}

h3 {
  margin-bottom: -15px;
  color: maroon;
}

/* change hyperlink color */
a {
  color: maroon;
}

.about h1 {
  font-family: 'Helvetica Neue', monospace;
}
